################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReactRouteBackbone/bin/Debug
/ReactRouteBackbone/obj/Debug
/.vs/ReactRouteBackbone/v14
/ReactRouteBackbone/ReactRouteBackbone.csproj.user
